# ─── API ─────────────────────────────────────────────────────────────────────
NEXT_PUBLIC_API_URL="http://localhost:3001"

# ─── PostHog Analytics ────────────────────────────────────────────────────────
NEXT_PUBLIC_POSTHOG_KEY=""
NEXT_PUBLIC_POSTHOG_HOST="https://app.posthog.com"

# ─── Sentry ───────────────────────────────────────────────────────────────────
NEXT_PUBLIC_SENTRY_DSN=""

# ─── Midtrans (client key untuk Snap popup) ───────────────────────────────────
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=""
NEXT_PUBLIC_MIDTRANS_IS_PRODUCTION=false
